@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Fraunces;
    font-weight: 700;
    src: url(./fonts/fraunces-v24-latin-700.woff2) format("woff2"),
      url(./fonts/fraunces-v24-latin-700.woff) format("woff");
  }
  @font-face {
    font-family: Montserrat;
    font-weight: 500;
    src: local(""), url(./fonts/montserrat-v25-latin-500.woff2) format("woff2"),
      url(./fonts/montserrat-v25-latin-500.woff) format("woff");
  }
  @font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: local(""), url(./fonts/montserrat-v25-latin-700.woff2) format("woff2"),
      url(./fonts/montserrat-v25-latin-700.woff) format("woff");
  }
}
